body {
  background-color: black;
  color: #00ff00;
  font-family: 'Courier New', monospace;
}
.matrix-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../assets/videos/matrix.gif') center center / cover no-repeat;
  opacity: 0.2;
  z-index: -1;
}
nav a {
  color: #00ff00;
  text-decoration: none;
  margin: 10px;
}
